NET mreq_sys_n LOC=P1;
NET data<7> LOC=P2;
NET data<0> LOC=P3;
NET trap_addr_rd_n LOC=P4;
NET m1_n LOC=P5;
NET wr_n LOC=P6;
NET mreq_n LOC=P7;
NET data<1> LOC=P8;
NET rd_n LOC=P9;
NET data<2> LOC=P11;
NET lo_addr<2> LOC=P12;
NET data<3> LOC=P13;
NET lo_addr<1> LOC=P14;
NET data<4> LOC=P18;
NET lo_addr<0> LOC=P19;
NET data<5> LOC=P20;
NET irq_sys_n LOC=P22;
NET data<6> LOC=P24;
NET hi_addr<0> LOC=P25;
NET iorq_n LOC=P26;
NET io_enable LOC=P27;
NET trap_addr_wr_n LOC=P28;
NET trans_wr_n LOC=P29;
NET trans_addr LOC=P33;
NET iorq_sys_n LOC=P34;
NET bank_wr_n LOC=P35;
NET xmem_sel_n LOC=P36;
NET trans_direction LOC=P37;
NET nmi_n LOC=P38;
NET reset_n LOC=P39;
NET refresh_n LOC=P40;
NET hi_addr<1> LOC=P42;
NET irq_n LOC=P43;
NET capture_addr LOC=P44;